@using SharpFlashCard.Models
@model SharpFlashCard.Models.GameRules
@{
    ViewBag.Title = "Home Page";
}

<form>
    <div class="jumbotron">
        <h1>CardSharpers</h1>
        <p class="lead">Sharp.Flash.Cards - A Whole new way of learning</p>
        <p>To play a round please answer the question below</p>
        
        <!--p><a href="http://asp.net" class="btn btn-primary btn-lg">New Card &raquo;</a></p-->
    </div>
</form>

<div class="row">
    <div class="col-md-6">

        <h3>Question: @Model.Card()</h3>
        <p>@Model.question</p><br>

        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { }))
        {
            <h3>Answer:</h3>
            @Html.Hidden("cardAnswer", Model.cardAnswer)
            @Html.TextBox("answer")<br>
            <br /><input type="submit" class="btn btn-primary btn-lg"><br />
        }
        @if (Model != null)
        {
            <h3><span id="Correct_Answer"> @Model.Response </span></h3>
        }
    </div>
</div>
